<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p \n%c [%x]\n%m%n\n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
		</root>		
	</log4net>
 
    <spring>
    
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        
        <objects>
            <description>The Spring object configuration for use by the InfoHub test suite</description>

            <!-- The LoggerFactory object implements ILoggerFactory, which is used
            to produce ILogger instances given a type name. -->
            <object name="LoggerFactory"
                type="InfoHub.Common.Log4NetLoggerFactory, InfoHub.Common" 
                singleton="true" />
                
            <object name="DbEngine"
				type="InfoHub.DataStore.db4o.db4oDbEngine, InfoHub.DataStore.db4o"
				singleton="true">
                <constructor-arg index="0">
					<!-- Use the LoggerFactory as the ILoggerFactory impl -->
					<ref object="LoggerFactory" />
				</constructor-arg>
			</object>
            
        </objects>

    </spring>
</configuration>
